h1 {
	text-align: center;
	font-weight: 100;
	font-family;
	sans-serif;
}

h4 {
	text-align: center;
	font-weight: 100;
	font-family;
	sans-serif;
}

#larr, #rarr {
	width: 30px !important;
	text-align: center;
	padding: 1.5px;
	display: inline !important;
}

#monthArea {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.smallHr {
	width: 160px;
	height: 2px;
}

.btn {
	height: 100%;
	width: 100%;
	cursor: pointer;
}

td {
	padding: 0 !important;
}

.container {
	width: 60%;
}

.weekend {
	color: white;
	background: #666;
}
