@{
    ViewBag.Title = "About";
}
@Scripts.Render("~/Scripts/indexScript.js")
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
<head>
	<link href="@Url.Content("~/Content/indexStyle.css")" rel="stylesheet" type="text/css" />
</head>
<h1>Catalysis Parking App</h1>
<hr class="smallHr">
<div class="container">
	<div id="monthArea">
		<button id="larr" class='btn btn-warning'>&larr;</button>&nbsp;
		<h4 style="display: inline !important;" id="month"></h4>&nbsp;
		<button id="rarr" class='btn btn-warning'>&rarr;</button>
	</div>
	<hr class="smallHr">
	<div class="table-responsive text-center">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Sun</td>
					<td>Mon</td>
					<td>Tues</td>
					<td>Wed</td>
					<td>Thurs</td>
					<td>Fri</td>
					<td>Sat</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="weekend">31</td>
					<td>
						<button class="btn btn-primary">1</button><br>Spaces: <span id="1">4</span>
					</td>
					<td>
						<button class="btn btn-primary">2</button><br>Spaces: <span id="2">2</span>
					</td>
					<td>
						<button class="btn btn-primary">3</button><br>Spaces: <span id="3">5</span>
					</td>
					<td>
						<button class="btn btn-primary">4</button><br>Spaces: <span id="4">1</span>
					</td>
					<td>
						<button class="btn btn-primary">5</button><br>Spaces: <span id="5">3</span>
					</td>
					<td class="weekend">6</td>
				</tr>
				<tr>
					<td class="weekend">7</td>
					<td>
						<button class="btn btn-primary">8</button><br>Spaces: <span id="8">3</span>
					</td>
					<td>
						<button class="btn btn-primary">9</button><br>Spaces: <span id="9">4</span>
					</td>
					<td>
						<button class="btn btn-primary">10</button><br>Spaces: <span id="10">2</span>
					</td>
					<td>
						<button class="btn btn-primary">11</button><br>Spaces: <span id="11">4</span>
					</td>
					<td>
						<button class="btn btn-primary">12</button><br>Spaces: <span id="12">2</span>
					</td>
					<td class="weekend">13</td>
				</tr>
				<tr>
					<td class="weekend">14</td>
					<td>
						<button class="btn btn-primary">15</button><br>Spaces: <span id="15">4</span>
					</td>
					<td>
						<button class="btn btn-primary">16</button><br>Spaces: <span id="16">6</span>
					</td>
					<td>
						<button class="btn btn-primary">17</button><br>Spaces: <span id="17">8</span>
					</td>
					<td>
						<button class="btn btn-primary">18</button><br>Spaces: <span id="18">3</span>
					</td>
					<td>
						<button class="btn btn-primary">19</button><br>Spaces: <span id="19">4</span>
					</td>
					<td class="weekend">20</td>
				</tr>
			</tbody>
		</table>
	</div>
