@{
    ViewBag.Title = "About";
}
@Scripts.Render("~/Scripts/indexScript.js")
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
<head>
	<link href="@Url.Content("~/Content/indexStyle.css")" rel="stylesheet" type="text/css" />
</head>
<h1>Catalysis Parking App</h1>
<div class="container">
	<div class="table-responsive text-center">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Sun</td>
					<td>Mon</td>
					<td>Tues</td>
					<td>Wed</td>
					<td>Thurs</td>
					<td>Fri</td>
					<td>Sat</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="weekend">31</td>
					<td>
						<button class="btn btn-primary">1</button><br>Spaces: <span id="1">4</span>
					</td>
					<td>
						<button class="btn btn-primary">2<br>Spaces: <span id="two">4</span></button>
					</td>
					<td>
						<button class="btn btn-primary">3 <br>Spaces: 4</button>
					</td>
					<td>
						<button class="btn btn-primary">4 <br>Spaces: 4</button>
					</td>
					<td>
						<button class="btn btn-primary">5 <br>Spaces: 4</button>
					</td>
					<td class="weekend">6</td>
				</tr>
				<tr>
					<td class="weekend">7</td>
					<td>
						<button class="btn btn-primary">8 <br>Spaces: 4</button>
					</td>
					<td>
						<button class="btn btn-primary">9 <br>Spaces: 4</button>
					</td>
					<td>
						<button class="btn btn-primary">10 <br>Spaces: 4</button>
					</td>
					<td>
						<button class="btn btn-primary">11 <br>Spaces: 4</button>
					</td>
					<td>
						<button class="btn btn-primary">12 <br>Spaces: 4</button>
					</td>
					<td class="weekend">13</td>
				</tr>
				<tr>
					<td class="weekend">14</td>
					<td>
						<button class="btn btn-primary">15 <br>Spaces: 4</button>
					</td>
					<td>
						<button class="btn btn-primary">16 <br>Spaces: 4</button>
					</td>
					<td>
						<button class="btn btn-primary">17 <br>Spaces: 4</button>
					</td>
					<td>
						<button class="btn btn-primary">18 <br>Spaces: 4</button>
					</td>
					<td>
						<button class="btn btn-primary">19 <br>Spaces: 4</button>
					</td>
					<td class="weekend">20</td>
				</tr>
			</tbody>
		</table>
	</div>
