@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Scripts/script.js")
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
<h1>Catalysis Parking App</h1>
<div class="container">
	<hr>
	<div>
		<form id="form">
			<div class="form-group">
				<input id="input" class="form-control text-center" placeholder="Enter Your Name Then Select A Spot" />
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<button class="btn btn-primary" id='Spot1'></button>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4 right">
			<button class="btn btn-primary" id='Spot2'></button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<button class="btn btn-primary" id='Spot3'></button>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4 right">
			<button class="btn btn-primary" id='Spot4'></button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<button class="btn btn-primary" id='Spot5'></button>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4 right">
			<button class="btn btn-primary" id='Spot6'></button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<button class="btn btn-primary" id='Spot7'></button>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4 right">
			<button class="btn btn-primary" id='Spot8'></button>
		</div>
	</div>
	<hr>
</div>
